/* MovieMedia.css */
.movie-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Adjust the space between the components */
  }
  
  /* Responsive adjustments if needed */
  @media (max-width: 768px) {
    .movie-media {
      flex-direction: column;
    }
  }
  