.icon {
  width: 40px;
  height: auto;
}

.top-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.top-icon img {
  max-width: 100px;
  margin-bottom: 10px;
}

.auth-container h2 {
  text-align: center;
  color: #0c0c0c;
  font-size: 24px;
  margin-bottom: 20px;
}

.auth-card {
  width: 350px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1;
}

.card-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: -4px;
  margin-top: 10px;
}

.card-head h3, .card-head h4 {
  cursor: pointer;
  padding-bottom: 0px;
  color: #000;
}

.card-head .active {
  border-bottom: 2px solid #000;
}

.form-section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.aux-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #666;
}

label[for="email"],
label[for="password"] {
  font-weight: bold;
}

input#email,
input#password {
  border: 1px solid black;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  cursor: pointer;
  margin-top: 10px;
}

.forgotPasswordButton {
  background-color: white;
  color: #0071eb;
  border: none;
  padding: 0;
}

button[type="submit"] {
  background-color: #FFC72C;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-login p {
  margin-bottom: 10px;
  color: #000;
}

.social-login .social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #000;
}

.social-login .social-button img {
  width: 20px;
  margin-right: 8px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffc800;
  color: #0c0c0c;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.auth-container button:hover {
  background-color: #e6b800;
}

.signup-form {
  max-width: 90%; /* Use max-width for responsiveness and set to a percentage of the parent */
  margin: auto 10px ; 
  padding: 25px; /* Increased padding for better spacing */
  
  background-color: #f9f9f9; 
  border-radius: 10px; /* Slightly increased border-radius for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhanced shadow for a subtle 3D effect */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Updated font for a more modern look */
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Animation effect on load */
}

.signup-form:hover {
  transform: translateY(-5px); /* Slight raise effect on hover for interactivity */
}

.signup-form input,
.signup-form button {
  width: calc(100% - 16px); /* Calculated width to account for padding */
  padding: 1px; /* Increased padding for a better touch area */
  margin-bottom: 7px; /* Increased spacing for better separation of fields */
  box-sizing: border-box; /* Ensures padding doesn't affect total width */
  border: 1px solid #ddd; /* Subtle border for inputs */
  border-radius: 4px; /* Rounded corners for inputs */
}
.signup-form input[type="file"] {
  /* Align the height with other text input fields */
  height: 35px; /* Adjust this value as needed */
}
.signup-form label {
  display: block;
  margin-bottom: 2px; /* Increased margin for better visual separation from input */
  font-size: 10px; /* Slightly larger font size for better readability */
  color: #555; /* Softer color for the labels */
}

.signup-form button[type="submit"] {
  background-color: #ffc800; /* Changed to a more universally-accepted 'submit' color */
  color: white; /* White text for better contrast and readability */
  font-weight: bold; /* Bold font for the button text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

.signup-form button[type="submit"]:hover {
  background-color:#ffc800; /* Darker shade on hover for button */
}

.signup-form .back-to-login-button {
  background-color: #f1f1f1; /* Lighter background for secondary action */
  color: #555; /* Darker text for contrast */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.top-icon {
  display: flex; /* Changed to flex to center the icon horizontally */
  justify-content: center; /* Center the icon horizontally */
  margin-bottom: 20px; /* Add some space between the icon and the form */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .signup-form {
    max-width: 100%; /* Allow the form to take full width on small screens */
    box-shadow: none; 
    padding: 10px;/* Remove shadow on small screens for a flatter design */
  }
}
.top-icon {
  display: none;
}
