/* loginsignup */
.icon {
  width: 40px;
  height: auto;
}

.top-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.top-icon img {
  max-width: 100px;
  margin-bottom: 10px;
}

.auth-container h2 {
  text-align: center;
  color: #0c0c0c;
  font-size: 24px;
  margin-bottom: 20px;
}

.auth-card {
  width: 350px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1;
}

.card-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: -4px;
  margin-top: 10px;
}

.card-head h3, .card-head h4 {
  cursor: pointer;
  padding-bottom: 0px;
  color: #000;
}

.card-head .active {
  border-bottom: 2px solid #000;
}

.form-section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.aux-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #666;
}

label[for="email"],
label[for="password"] {
  font-weight: bold;
}

input#email,
input#password {
  border: 1px solid black;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  cursor: pointer;
  margin-top: 10px;
}

.forgotPasswordButton {
  background-color: white;
  color: #0071eb;
  border: none;
  padding: 0;
}

button[type="submit"] {
  background-color: #FFC72C;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-login p {
  margin-bottom: 10px;
  color: #000;
}

.social-login .social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #000;
}

.social-login .social-button img {
  width: 20px;
  margin-right: 8px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffc800;
  color: #0c0c0c;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.auth-container button:hover {
  background-color: #e6b800;
}

.signup-form {
  max-width: 400px; 
  margin: -5px; 
  padding: 15px; 
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}


.signup-form:hover {
  transform: translateY(-5px);
}


.signup-form input,
.signup-form button {
  width: 100%; 
  padding: 2px; 
  margin-bottom: 4px; 
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.signup-form input[type="file"] {
  height: 40px;
}


.signup-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px; 
  color: #555;
}


.signup-form button[type="submit"] {
  background-color: #ffc800;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-form button[type="submit"]:hover {
  background-color: #e6b800;
}


.signup-form .back-to-login-button {
  background-color: #f1f1f1;
  color: #555;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}


@media (max-width: 480px) {
  .signup-form {
      max-width: 100%;
      margin: 8px;
      padding: 10px;
  }

  .signup-form label {
      font-size: 12px; 
  }
}

.top-icon {
  display: none;
}
@media (max-width: 1024px) {
  .auth-card {
      width: 80%; 
      padding: 20px;
  }}