/* MovieBanner.css */
.movie-banner {
  background-color: #343a40; /* Dark background color */
  color: white; /* White text color */
  padding: 20px; /* Padding around the banner */
  
}

/* Responsive layout for the inner container */
@media (min-width: 768px) {
  .movie-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Styling adjustments for smaller screens */
@media (max-width: 767px) {
  .movie-banner-container {
    flex-direction: column;
  }
}
