/* MovieDetails.css */
.movie-title {
    font-size: 2rem; /* Example size, adjust as needed */
    margin-bottom: 0.5rem;
  }
  
  .movie-info {
    font-size: 1rem;
    color: #ccc; /* Lighter text color for info */
    font-style: italic;
  }
  