/* MovieComponent.css */

/* Ensure the poster takes the full height and width of its container */
.col-lg-3, .col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the poster component */
.poster-component {
  max-width: 100%;
  height: auto;
}

.container-fluid.p-0 {
  margin-left: 5%;
}

/* Ensure the trailer takes the full height and width of its container */
.col-lg-8 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the trailer component */
.trailer-component {
  width: 100%; /* Use 100% of the parent's width */
  height: auto;
  padding-bottom: 56.25%; /* Aspect ratio for 16:9 screens */
  position: relative;
}

/* Ensure the iframe from the trailer component is responsive and covers the area */
.trailer-component iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
