/* PosterComponent.css */

.poster-component {
  position: relative;
  width: 100%; /* Full width of the container */
  /* Use padding-top to maintain aspect ratio; Adjust the percentage based on the original aspect ratio */
  padding-top: 150%; /* (414 / 278) * 100% */
  height: 0; /* Height is now controlled by padding-top */
  overflow: hidden;
}

.poster-component img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Covers the container, cropping the image as necessary */
}

.ribbon-button {
  position: absolute;
  top: 10px; /* Adjust according to your design */
  left: 10px; /* Adjust according to your design */
  z-index: 10; /* Ensure it's above other elements */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.ribbon-button img {
  width: 50px; /* Fixed width for the ribbon */
  height: auto;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .ribbon-button img {
    width: 30px; /* Smaller ribbon size on smaller screens */
  }
}

@media (max-width: 576px) {
  .ribbon-button img {
    width: 20px; /* Even smaller ribbon size on very small screens */
  }
}
