/* Grenes.css */

.Genres {
  background-color: #343a40; /* Dark background */
  color: #ffffff; /* Text color */
  font-family: 'Arial', sans-serif;
/*  padding-left: 10%;*/
  
}


.Genres .Genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px; /* Gap between items */
}

.Genres .Genres-item {
  background-color: transparent; /* Transparent background for genre items */
  padding: 2px 8px; /* Padding inside genre items */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  border: 1px solid #ffffff; /* White border */
  margin: 10px 4px; /* Vertical margin only */
  transition: background-color 0s ease-in-out; /* Transition effect when hovering */
  color: white;
}

.Genres .Genres-item:hover {
  background-color: #555; /* Darker background on hover */
}

.Genres .Movie-summary {
  background-color: #343a40; /* Dark background */
  color: #ffffff; /* Text color */
  font-family: 'Arial', sans-serif;
  padding: 10px; /* Adjust to match the exact padding you want */
}
