/* MovieMedia.css */
.movie-media-container {
    display: flex;
    color: white;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .movie-media-container  .rating-star {
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 5px;
  }
  
  .movie-media-container  .rating-details {
    display: flex;
    flex-direction: column;
  }
  
  .movie-media-container  .rating-value {
    font-size: 18px; /* Adjust the size as needed */
    font-weight: bold;
  }
  
  .movie-media-container  .rating-count {
    font-size: 12px; /* Adjust the size as needed */
  }
  