/* RatingButton.css */
.rating-button {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #59bfff; /* Blue color for text */
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s ease;
    font-size: 20px;
  
  }
  
  .rating-button .rated {
    color: #ffd700; /* Gold color for rated state */
  }
  
  .rating-button:hover {
    color: #ffffff; /* White color on hover */
  }
  
  .rating-button  .star {
    margin-right: 5px; /* Space between star and text */
  }
  
  .rating-button  .button-label {
    font-weight: bold;
  }
  
  
  /* Add any additional styles you need here */
  