/* RatingModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #333; /* Dark background for the modal */
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* For absolute positioning of the close button */
  }
  
  h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .star-rating1 {
    color: #ccc; /* Default star color */
    font-size: 30px; /* Bigger stars */
  }
  
  .star {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px; /* Spacing between stars */
  }
  
  .star.filled {
    color: #ffac33; /* Gold color for filled stars */
  }
  
  /* General button styling */
  .modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Submit button styling */
  .rate-submit-button {
    background: #aaa; /* Default color for the rate button */
    color: black;
  }
  
  .rate-submit-button.gold {
    background: gold; /* Gold background when a star is selected */
    color: black;
  }
  
  /* Remove rating button styling */
  .remove-rating {
    background: #d9534f; /* Red background for removal */
    color: white;
  }
  
  /* Hover effects for buttons */
  .modal-content button:hover,
  .rate-submit-button:hover,
  .remove-rating:hover {
    background-color: #777;
  }
  
  /* Close button (X) styling */
  .close-modal {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
  }
  
  /* Hover effect for the close button */
  .close-modal:hover {
    color: #bbb;
  }
  