/* MovieYearTitleComponent.css */
.movie-card-review {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.movie-card-review .movie-image img {
    width: 100px; /* Adjust as needed */
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
}

.movie-card-review .movie-info {
    display: flex;
    flex-direction: column;
}

.movie-card-review .movie-title {
    margin: 0;
    font-size: 24px; /* Adjust as needed */
    color: #333;
}

.movie-card-review .movie-year {
    font-size: 20px; /* Adjust as needed */
    color: #666;
    margin-bottom: 10px;
}

.review-link {
    background-color: #666; /* Primary color */
    color: white; /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Top and Bottom, Left and Right padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Cursor style when hovering over the button */
    text-decoration: none; /* No underline */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.review-link:hover {
    background-color:gold; /* Darker shade for hover state */
    color: #fff; /* Text color for hover state */
}


/* Add additional styling and responsive adjustments as needed */
