.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
 .auth-container .forgot-password-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ffffff;
  }
  
  .auth-container  .form-group {
    margin-bottom: 15px;
  }
  
  .auth-container  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .auth-container .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .auth-container  .btn-block {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .auth-container  .btn-block:hover {
    background-color: #0056b3;
  }
  
  
  